{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">

    <title>{% block title %}{% endblock %} | Simple Blog</title>
</head>
<body>

{% include 'blog/layouts/navbar.html' %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4" data-sticky_column>
                {% include 'blog/layouts/sidebar.html' %}
            </div>
        </div>
    </div>
</div>

{% include 'blog/layouts/instagram.html' %}

{% include 'blog/layouts/footer.html' %}

<script type="text/javascript" src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.stickit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>
