<nav class="navbar main-menu navbar-default">
    <div class="container">
        <div class="menu-content">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'blog:index' %}"><img src="assets/images/logo.png" alt=""></a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav text-uppercase">
                    <li><a href="{% url 'blog:index' %}">Homepage</a></li>
                    <li><a href="#">ABOUT ME </a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>

                <ul class="nav navbar-nav text-uppercase pull-right">
                  {% if user.is_authenticated %}
                      <li><a href="{% url 'accounts:profile' %}">My profile</a></li>
                      <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                  {% else %}
                      <li><a href="{% url 'accounts:register' %}">Register</a></li>
                      <li><a href="{% url 'accounts:login' %}">Login</a></li>
                  {% endif %}
                </ul>

            </div>
            <!-- /.navbar-collapse -->

            <div class="show-search">
                <form role="search" method="get" id="searchform" action="{% url 'blog:index' %}">
                    <div>
                        <input name="q" type="text" placeholder="Search and hit enter..." name="s" value="{{ query|default:'' }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
